---
import BaseLayout from './BaseLayout.astro';
import TagList from '../components/blog/TagList.astro';
const { data } = Astro.props;

---

<BaseLayout pageTitle={data.title}>
    <TagList tags={data.tags} />

    <p>{data.pubDate.toString().slice(0,10)}</p>

    <p><em>{data.description}</em></p>

    <p>Written by: {data.author}</p>

    <img src={data.image.url} width="300" alt={data.image.alt} />

    <slot />
</BaseLayout>
